<div class="search-div">
    
      <span><b>search:</b></span>

    <input type="text" (input)="changesearchvalue($event)">

    <b> you searched for {{searchvalue}}<div class="close"><button class='btn'>X</button></div></b>
</div>

<!-- <label>
    <input type="text" class="search-div" name="word" autofocus="autofocus" (input)="changesearchvalue($event)">
    <span class="search-icon">
        <span class="glass"></span>
        <span class="handle"></span>
    </span>
    <b> you searched for {{searchvalue}}</b> 
    </label> -->